.form_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form_item {
  margin-bottom: 5px;
}

.form_item label {
  word-wrap: break-word;
  white-space: normal;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}

.fileItem{
  height:40px;
}

.fileLink{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: inline-block;
}

.ant-form-item-control {
  line-height: initial;
}